.forecast_item {
  border-radius: 20px;
  background-color: #E8E8E8;
  padding: 15px 15px 20px;
}

.forecast_base {
  display: flex;
  justify-content: space-between;
}

.forecast_name {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.25;
}

.forecast_flag {
  height: 15px;
}

.forecast_time {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 11px;
}




.forecast_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 21px;
}

.forecast_hourly {
  padding: 8px 18px;
  background-color: #FFB36C;
  border-radius: 5px;

  font-size: 9px;
  font-weight: 500;
  line-height: 1.22;
}

.forecast_weekly {
  padding: 8px 18px;
  background-color: #FFB36C;
  border-radius: 5px;

  font-size: 9px;
  font-weight: 500;
  line-height: 1.22;
}




.forecast_date {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 12px;
}

.forecast_year {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.25;
}

.forecast_line {
  width: 1px;
  height: 15px;
  background-color: #000000;
}

.forecast_day {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.25;
}

.forecast_description {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.25;
  text-transform: capitalize;
  text-align: center;
}




.forecast_img {
  width: 83px;
  height: 83px;
  margin: 25px auto;
}

.forecast_temperature {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.21;
  text-align: center;
  padding-bottom: 44px;
}





.forecast_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.forecast_functional {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

.forecast_rotate {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.forecast_heart {
  width: 24px;
  height: 24px;
  fill: #FF4343;
}

.forecast_more {
  padding: 8px 20px;
  background-color: #FFB36C;
  border-radius: 5px;

  font-size: 9px;
  font-weight: 500;
  line-height: 1.22;
}

.forecast_trash {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

@media screen and (min-width: 564px) {
  .forecast_item {
    padding: 15px 25px;
  }

  .forecast_time {
    margin-top: 11px;
    margin-bottom: 8px;
  }

  .forecast_img {
    width: 76px;
    height: 76px;
  }
}

@media screen and (min-width: 1160px) {
  .forecast_item {
    padding: 15px 30px 20px;
  }

  .forecast_buttons {
    gap: 25px;
  }

  .forecast_name {
    font-size: 14px;
    line-height: 1.21;
  }

  .forecast_flag {
    height: 17px;
  }

  .forecast_time {
    font-size: 24px;
    line-height: 1.21;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
  }

  .forecast_hourly {
    font-size: 10px;
    line-height: 1.2;
    border-radius: 10px;
  }

  .forecast_weekly {
    font-size: 10px;
    line-height: 1.2;
    border-radius: 10px;
  }

  .forecast_date {
    margin-top: 15px;
    gap: 13px;
  }

  .forecast_year {
    font-size: 14px;
    line-height: 1.21;
  }

  .forecast_day {
    font-size: 14px;
    line-height: 1.21;
  }

  .forecast_description {
    font-size: 14px;
      line-height: 1.21;
  }

  .forecast_img {
    width: 120px;
    height: 120px;
    margin: 20px auto;
  }

  .forecast_temperature {
    font-size: 32px;
    line-height: 1.22;
  }

  .forecast_rotate {
    width: 30px;
    height: 30px;
  }

  .forecast_heart {
    width: 30px;
    height: 30px;
  }

  .forecast_more {
    padding: 8px 25px;
    border-radius: 10px;

    font-size: 10px;
    line-height: 1.2;
  }

  .forecast_trash {
    width: 30px;
    height: 30px;
  }
}