.forecast {
  padding-top: 30px;
  padding-bottom: 15px;
}

.forecast_list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

@media screen and (min-width: 564px) {
  .forecast {
    padding-top: 50px;
    padding-bottom: 25px;
  }

  .forecast_list {
    column-gap: 110px;
    row-gap: 50px;
  }
}

@media screen and (min-width: 1160px) {
  .forecast {
    padding-top: 60px;
    padding-bottom: 40px;
  }

  .forecast_list {
    column-gap: 90px;
    row-gap: 80px;
  }
}