.forecast_list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.forecast_item {
  border-radius: 20px;
  background-color: #E8E8E8;
  padding: 15px 15px 20px;
}

.forecast_base {
  display: flex;
  justify-content: space-between;
}

.forecast_name {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.25;
}

.forecast_flag {
  height: 15px;
}

.forecast_time {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
}

.forecast_hourly {
  padding: 8px 18px;
  background-color: #FFB36C;
  border-radius: 5px;

  font-size: 9px;
  font-weight: 500;
  line-height: 1.22;
}

.forecast_weekly {
  padding: 8px 18px;
  background-color: #FFB36C;
  border-radius: 5px;

  font-size: 9px;
    font-weight: 500;
    line-height: 1.22;
}

.forecast_img {
  width: 83px;
  height: 83px;
}

.forecast_temperature {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.21;
}

.forecast_rotate {
  width: 24px;
  height: 24px;
}

.forecast_heart {
  width: 24px;
  height: 24px;
  fill: #FF4343;
}

.forecast_more {
  padding: 8px 20px;
  background-color: #FFB36C;
  border-radius: 5px;

  font-size: 9px;
  font-weight: 500;
  line-height: 1.22;
}

.forecast_trash {
  width: 24px;
  height: 24px;
}

@media screen and (min-width: 564px) {
  .forecast_item {
    padding: 15px 25px;
  }

  .forecast_img {
    width: 76px;
    height: 76px;
  }
}

@media screen and (min-width: 1160px) {
  .forecast_item {
      padding: 15px 30px 20px;
    }

    .forecast_name {
      font-size: 14px;
      line-height: 1.21;
    }

    .forecast_flag {
      height: 17px;
    }

    .forecast_time {
      font-size: 24px;
      line-height: 1.21;
      border-radius: 10px;
    }

    .forecast_hourly {
      font-size: 10px;
      line-height: 1.2;
      border-radius: 10px;
    }

    .forecast_weekly {
      font-size: 10px;
        line-height: 1.2;
    }

    .forecast_img {
      width: 120px;
      height: 120px;
    }

    .forecast_temperature {
      font-size: 32px;
      line-height: 1.22;
    }

        .forecast_rotate {
          width: 30px;
          height: 30px;
        }
    
        .forecast_heart {
          width: 30px;
          height: 30px;
        }
    
        .forecast_more {
          padding: 8px 25px;
          border-radius: 10px;
    
          font-size: 10px;
          line-height: 1.2;
        }
    
        .forecast_trash {
          width: 30px;
          height: 30px;
        }
}