.header {
  position: fixed;
  top: 0;
  padding-top: 14px;
  padding-bottom: 14px;
  z-index: 90;
  background-color: #FFFFFF;
  width: 100%;
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.2);  
}

.header>div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.header_image {
  width: 34px;
  height: 22px;
}

.header_list {
  display: none;

}

.header_link {
  font-family: "Montserrat Alternates";
  font-size: 10px;
  font-weight: 500;
  line-height: 1.2;
}

.header_link:hover {
  color: #FFB36C;
}

.header_flex {
  display: none;
}

.header_menu {
  font-family: "Montserrat Alternates";
  font-size: 10px;
  font-weight: 500;
  line-height: 1.2;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  background: none;
}

.header_arrowdown {
  height: 6px;
  width: 6px;
}

.header_arrowright {
  width: 6px;
  height: 6px;
}

@media screen and (min-width: 564px) {
  .header {
    padding-top: 17px;
    padding-bottom: 17px;
  }

  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 57px;
  }

  .header_image {
    width: 54px;
    height: 36px;
  }

  .header_list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 46px;
  }

  .header_flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }

    .header_registrated {
        font-family: "Montserrat Alternates";
          font-size: 10px;
          font-weight: 600;
          line-height: 1.2;
    }

  .header_button {
    display: inline;
    border-radius: 10px;
    border: none;
    padding: 8px 16px;
    border: none;
    background-color: #FFB36C;
    font-family: "Montserrat Alternates";
    font-size: 10px;
    font-weight: 500;
    line-height: 1.2;
  }

  #header_user {
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: #FFB36C;
  }

  .header_menu {
    display: none;
  }
}

@media screen and (min-width: 1160px) {
  .header {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .nav {
    gap: 109px;
  }

  .header_image {
    width: 82px;
    height: 56px;
  }

  .header_link {
    font-size: 12px;
    line-height: 1.13;
  }

  .header_registrated {
    font-size: 12px;
      line-height: 1.13;
  }

  .header_flex {
    gap: 27px;
  }

  .header_button {
    font-size: 12px;
    padding: 10px 20px;
    line-height: 1.13;
  }

  .header_user {
    width: 50px;
    height: 50px;
  }
}