.footer {
  background-color: #FFB36C;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer_flex {
  display: flex;
  justify-content: start;
  align-items: self-start;
  gap: 75px;
  margin-bottom: 25px;
}

.footer_logo {
  width: 50px;
  height: 34px;
}

.footer_title {
  font-family: "Montserrat Alternates";
  font-size: 12px;
  font-weight: 500;
  line-height: 1.25;

  margin-bottom: 15px;
}

.footer_title[data-title="contacts"] {
  text-align: center;
}

.footer_address {
  font-family: "Montserrat Alternates";
  font-size: 8px;
  font-weight: 500;
  line-height: 1.25;
  width: 62px;
}

.footer_svg {
  width: 35px;
  height: 35px;
  border-radius: 10px;
}

.footer_svglist {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

@media screen and (min-width: 564px) {
  .footer {
    padding-top: 35px;
    padding-bottom: 35px;
  }

  .footer>div {
    display: flex;
    justify-content: start;
    align-items: self-start;
    gap: 100px;
  }

  .footer_flex {
    margin-bottom: 0;
    gap: 100px;
  }

  .footer_logo {
    width: 58px;
    height: 40px;
  }

  .footer_title {
    font-size: 14px;
    line-height: 1.21;
  }

  .footer_title[data-title="contacts"] {
    text-align: left;
  }

  .footer_address {
    font-size: 10px;
    line-height: 1.2;
    width: 77px;
  }
}

@media screen and (min-width: 1160px) {
  .footer {
    padding-top: 40px;
    padding-bottom: 64px;
  }

  .footer>div {
    gap: 103px;
  }

  .footer_flex {
    gap: 103px;
  }

  .footer_logo {
    width: 90px;
    height: 62px;
  }

  .footer_title {
    font-size: 16px;
    line-height: 1.25;
  }

  .footer_address {
    font-size: 12px;
    line-height: 1.25;
    width: 92px;

    margin-bottom: 10px;
  }

  .footer_svg {
    width: 40px;
    height: 40px;
  }
}